* {
  box-sizing: border-box;
  padding-inline-start: 0;
}

ul {
  list-style: none;
}

.container {
  width: 60%;
  height: 550px;
  text-align: center;
  color: #fff;
  background-color: rgb(36, 42, 49);
  margin: 0 auto;
  padding-top: 10px;
}

.slide_show {
  margin: 0 auto;
  width: 70%;
}

.slide_show img {
  width: 95%;
  margin: 0 auto;
}

.coment {
  padding-top: 18px;
  font-size: 14px;
}